
@charset "utf-8";

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.border {
    border: 3px solid #0e1936;
}
#faculty_list_of_university{
    border: 1px solid black;
    padding: 10px;
}

.flex_form{
    text-align: right;
    display: inline-block;
}

.form_inline_block{
    display: inline-block;
}

.click_icon_for_comment:hover{
    cursor: pointer;
    visibility:visible;
}

.click_icon_for_comment{
    color: #19865C;
}

.comment_author{
    display: inline-block;
}

.comment_author::before{
    content: "("
}

.comment_author::after{
    content: ")\00a0";
}

.comment_text{
    display: inline-block;
}
.cancel{
    margin:0 20px;
}